/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	
}

 /* Main Code */

body {
	font-family: 'Nanum Gothic', sans-serif;
}

#logo {
	font-size: 32px;
	margin-top: 13px;
	font-family: 'Nanum Gothic', sans-serif;
}

#icon {
	margin-top: 5px;
	margin-left: 24px;
}
 
span {
	color: hsl(0, 0%, 70%);
}

#head {
	position: fixed;
	width: 100%;
	background-color: hsl(0, 0%, 100%);
	z-index: 5;
	border-bottom: 0.5px solid hsl(0, 0%, 90%);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 64px;
	width: auto;
}

#catalog {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: auto;
	margin-top: 22px;
	margin-right: 24px;
}

li {
	list-style-type: none;
	padding-left: 16px;
}

.intro {
	display: flex;
	padding-top: 96px;
	background-color: hsl(0, 0%, 85%);
	align-items: center;
}

.i1 {
	width: 60%;
	height: auto;
	padding-left: 24px;
	padding-bottom: 32px;
	padding-right: 24px;
}
.i2 {
	width: 40%;
	height: auto;
	margin-left: 24px;
}

button {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 30%);
	width: 55%;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid hsl(0, 0%, 30%);
	font-size: 1.3vw;
}

button:active, button:focus {
    position: гelative;
	background: hsl(0, 0%, 50%);
	transition: 0.1s ease-out;
}

#learn1 {
	font-size: 3vw;
}

#learn4 {
	font-size: 1.7vw;
}

.info {
	width: 100%;
	height: auto;
	display: flex;
	background-color: hsl(0, 0%, 100%);
	align-items: center;
	position: relative;
}

.ileft {
	width: 60%;
	height: auto;
	padding-left: 24px;
	padding-top: 32px;
	padding-bottom: 32px;
}

#infofoto {
	margin-right: 44px;
}

.iright {
	width: 40%;
	height: auto;
	margin-left: 12px;
	padding-bottom: 32px;
	padding-right: 24px;
	border-left: 1px solid hsl(0, 0%, 85%);
	position: absolute;
  	left:60%;
  	right:0;
  	top:0;
	bottom:0;
}

.r1 {
	padding-left: 16px;
	padding-bottom: 16px;
	padding-top: 32px;
	display: flex;
	border-bottom: 1px solid hsl(0, 0%, 85%);
	align-items: center;
	max-height: 32%;
}

.r2 {
	padding-left: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
	display: flex;
	border-top: 1px solid hsl(0, 0%, 85%);
	align-items: center;
	max-height: 32%;
}

.r3 {
	padding-left: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
	display: flex;
	background-color: hsl(0, 0%, 85%);
	max-height: 32%;
}

.r11 {
	width: 35%;
	height: auto;
}

.r12 {
	width: 65%;
	height: auto;
	margin-left: 16px;
}

.hr, .pr {
	margin-bottom: 8px;
}

.start {
	text-align: center;
	background-color: hsl(0, 0%, 90%);
}

.hstart {
	padding-top: 32px;
}

.start1, .start2 {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	margin-left: 72px;
	margin-right: 72px;
}

.break {
	width: 100%;
	height: 0;
}

.s1 {
	text-align: left;
	padding-bottom: 24px;
	margin-right: 32px;
}

.s2 {
	text-align: left;
	padding-bottom: 24px;
}

.hs {
	padding-top: 16px;
	padding-bottom: 8px;
}

.courses {
	color: hsl(0, 0%, 30%);
	display: inline-block;
	padding-bottom: 8px;
}

.outro {
	text-align: center;
}

.outro2 {
	display: flex;
	justify-content: center;
}

.oleft {
	width: 60%;
	height: auto;
	margin-left: 24px;
	margin-right: 24px;
}

.ol1 {
	margin-bottom: 24px;
}

.ol2 {
	text-align: left;
	padding-bottom: 32px;
}

.ho {
	padding-bottom: 8px;
}

.oright {
	width: 40%;
	height: auto;
}

.or1 {
	display: flex;
	align-items: center;
	background-color: hsl(0, 0%, 85%);
}

.or11 {
	width: 35%;
	height: auto;
	padding: 16px;
}

.or12, .or22 {
	width: 65%;
	height: auto;
	text-align: left;
}

.or2 {
	display: flex;
	align-items: center;
}

.or21 {
	width: 35%;
	height: auto;
	padding: 16px;
}

h1 {
	font-family: 'Alata', sans-serif;
	font-size: 36px;
	line-height: 1.2;
	color: hsl(0, 0%, 30%);
	padding-bottom: 24px;
}

h2 {
	font-family: 'Alata', sans-serif;
	color: hsl(0, 0%, 30%);
	margin-bottom: 32px;
}

#h24 {
	margin-top: 32px;
	margin-bottom: 24px;
}

h3 {
	font-family: 'Alata', sans-serif;
	color: hsl(0, 0%, 30%);
}

h4 {
	font-family: 'Alata', sans-serif;
	font-size: 18px;
	color: hsl(0, 0%, 30%);
	margin-bottom: 24px;
}

a {
	text-decoration: none;
} 

p {
	color: hsl(0, 0%, 30%);
}

footer {
	padding-top: 16px;
	padding-left: 24px;
	margin-bottom: 48px;
	display: flex;
	align-items: center;
	border-top: 1px solid hsl(0, 0%, 90%);
}

#foot {
	color: hsl(0, 0%, 30%);
	display: flex;
	margin-left: auto;
	margin-right: 24px;
}

.nav {
	cursor: pointer;
}

#micon {
	display: none;
}

.icons {
	cursor: pointer;
}

.mimg {
	display: none;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	
	#logo, #catalog, #icon {
		display: none;
	}

	#micon {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-around;
		align-items: center;
	}

	.intro {
		flex-direction: column;
		padding-top: 64px;
	}

	.i1 {
		width: 100%;
		height: auto;
	}

	.i2 {
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	margin-right: 24px;
	}

	#learn1 {
		font-size: 10vw;
		text-align: left;
		margin-left: 24px;
	}

	#learn4 {
		font-size: 6vw;
		text-align: left;
		margin-left: 24px;
	}

	button {
		width: 100%;
		height: auto;
		margin-left: 24px;
		margin-bottom: 32px;
		font-size: 5vw;
	}

	.ileft {
		display: none;
	}

	.iright {
		position: static;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.img {
		display: none;
	}

	.mimg {
		display: block;
	}

	.r1 {
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 16px;
	}

	.r2 {
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 16px;
		padding-top: 32px;
	}

	.r3 {
		background-color: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 16px;
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.r11 {
		width: 100%;
		height: auto;
		padding-bottom: 32px;
	}

	.r12 {
		margin-right: auto;

	}

	.hr {
		font-size: 6vw;
		padding-bottom: 8px;
	}

	.pr {
		font-size: 3vw;
		padding-bottom: 8px;
	}

	.start {
		background-color: hsl(0, 0%, 98%);
	}

	.hstart {
		font-size: 10vw;
		margin-bottom: 16px;
	}
	.cfoto {
		display: none;
	}

	.cdesc {
		display: none;
	}

	.start1, .start2 {
		flex-direction: column;
		margin: 0 16px 0 16px;
		padding: 0;
	}
	.start2 {
		margin-bottom: 32px;
	}

	.break {
		display: none;
	}

	.s1 {
		background-color: hsl(0, 0%, 85%);
		cursor: pointer;
		width: 100%;
		height: auto;
		margin-bottom: 8px;
		padding: 16px 16px 24px 16px;
		font-size: 4.5vw;
	}

	.s2 {
		background-color: hsl(0, 0%, 85%);
		cursor: pointer;
		width: 100%;
		height: auto;
		margin-bottom: 8px;
		padding: 16px 16px 24px 16px;
		font-size: 4.5vw;
	}

	.s1:active, .s1:focus, .s2:active, .s2:focus {
		position: гelative;
		background: hsl(0, 0%, 70%);
		transition: color 1s ease-in;
	}

	.oright {
		display: none;
	}

	.oleft {
		width: 100%;
		height: auto;
		margin: 0;
	}

	.ol1 {
		width: 100%;
		height: auto;
	}

	.ol2 {
		display: none;
	}

	#foot {
		display: none;
	}

	footer {
		margin-bottom: 16px;
	}
}